@tailwind base;

@tailwind components;

@tailwind utilities;

.top-full{
	top: 100%;
}
.bottom-full{
	bottom: 100%;
}

.show-hide-dropnav{
	visibility: hidden;
}

.navItem:hover .show-hide-dropnav{
	visibility: visible;
}

.cards article:nth-child(4n){
	padding-right: 0;
}