@tailwind base;

@font-face {
	font-family: Bod pstc;
	font-weight: 400;
	src: url(../Fonts/BOD_PSTC.TTF) format("woff");
}

@font-face {
	font-family: Montserrat-regular;
	font-weight: 400;
	src: url(../Fonts/Montserrat-Regular_2.ttf) format("woff");
}

@font-face {
	font-family: Montserrat-bold;
	font-weight: 700;
	src: url(../Fonts/Montserrat-Bold_2.ttf) format("woff");
}

@font-face {
	font-family: Montserrat-medium;
	font-weight: 500;
	src: url(../Fonts/Montserrat-Medium_2.ttf) format("woff");
}

@font-face {
	font-family: Montserrat-semivold;
	font-weight: 700;
	src: url(../Fonts/Montserrat-SemiBold_2.ttf) format("woff");
}

@font-face {
	font-family: Montserrat-alterno;
	font-weight: 400;
	src: url(../Fonts/MontserratAlternates-Regular_0.ttf) format("woff");
}

@font-face {
	font-family: Oswald-medium;
	font-weight: 500;
	src: url(../Fonts/Oswald-Medium.ttf) format("woff");
}

@font-face {
	font-family: Bebas-regular;
	font-weight: 500;
	src: url(../Fonts/Bebas-Regular.otf) format("woff");
}
@tailwind components;

@tailwind utilities;

/* fonts family */
.mont-regular{
	font-family: 'Montserrat-regular';
}
.bod-font{
	font-family: 'Bod pstc';
}
.mont-bold{
	font-family: 'Montserrat-bold';
}
.mont-medium{
	font-family: 'Montserrat-medium';
}
.mont-semibold{
	font-family: 'Montserrat-semivold';
}
.mont-alterno{
	font-family: 'Montserrat-alterno';
}
.oswald-medium{
	font-family: 'Oswald-medium';
}
.bebas-regular{
	font-family: 'Bebas-regular';
}
/* fonts family */
.top-full{
	top: 100%;
}
.bottom-full{
	bottom: 100%;
}

.show-hide-dropnav,
.show-hide-buyModal,
.show-hide-opacityCap{
	visibility: hidden;
}

.navItem:hover .show-hide-dropnav,
.buyIcon:hover .show-hide-buyModal,
.buyIcon:hover ~ .show-hide-opacityCap{
	visibility: visible;
}

.dothOne::after{
	content: "";
	width: 100%;
	background: #C53030;
	height: 2px;
	position: absolute;
	top: 48%;
	left: 50%;
	z-index: 0;
}

#newAdressPopup{
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
}

#newAdressPopup:target{
	opacity: 1;
	visibility: visible;
}

#newAdressPopup textarea{
	resize: none;
}

#slider div,
#slider img{
	height: 100%;
}

.owl-dots{
	position: absolute;
	height: auto!important;
	bottom: 0;
    width: 100%;
}
.owl-dots button,
.owl-dots button:focus{
	outline: none;
}
.searchInp input{
	background-color: #A1657C;
}
.searchInp input::placeholder{
	color: #E6E6E6;
}

.searchInp svg{
	fill: #E6E6E6;
}

/* utility icons bar */
.utility-icon{
	background-color: white;
}

.icon-text{
	color: #8E4560;
}

.delivery-icon-color,
.user-icon-color,
.carrito-icon-color{
	fill: #8E4560;
}

.utility-icon:hover,
.buyIcon:hover .utility-icon{
	background-color: #8E4560;
}

.utility-icon:hover .delivery-icon-color,
.utility-icon:hover .user-icon-color,
.buyIcon:hover .carrito-icon-color{
	fill: white;
}

.utility-icon:hover .icon-text{
	color: white;
}

.arrow-icon-color{
	fill: white;
}

.buy-fast .delivery-icon-color{
	fill: #D4145A;
}

.facebook-icon,
.instagram-icon,
.twitter-icon{
	fill: #EDD4B6;
}

/* utility icons bar */


/* especial styles */
.colorPrimarioUno{
	background-color: #8E4560;
}

.colorPrimarioDos{
	background-color: #9B90A3;
}

.txt-regular{
	font-size: 15px;
}

.shadow-style{
	box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.50);
}
.cantidad-inp{
	left: 50%;
	transform: translateX(-50%);
}

.facebook-icon-btn{
	fill: white;
}

@media (max-width: 640px){
	.utility-icon{
		background: transparent;
	}
	.carrito-icon-color{
		fill: white;
	}

}