@tailwind base;

@tailwind components;

@tailwind utilities;

.top-full{
	top: 100%;
}
.bottom-full{
	bottom: 100%;
}

.show-hide-dropnav,
.show-hide-buyModal,
.show-hide-opacityCap{
	visibility: hidden;
}

.navItem:hover .show-hide-dropnav,
.buyIcon:hover .show-hide-buyModal,
.buyIcon:hover ~ .show-hide-opacityCap{
	visibility: visible;
}

.cards article:nth-child(4n){
	padding-right: 0;
}

.ventanaProducto li:not(:last-child){
	border-bottom: 2px solid black;
}

.dothOne::after{
	content: "";
	width: 100%;
	background: #C53030;
	height: 2px;
	position: absolute;
	top: 48%;
	left: 50%;
	z-index: 0;
}

#newAdressPopup{
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
}

#newAdressPopup:target{
	opacity: 1;
	visibility: visible;
}

#newAdressPopup textarea{
	resize: none;
}

#slider div,
#slider img{
	height: 100%;
}

.owl-dots{
	position: absolute;
	height: auto!important;
	bottom: 0;
    width: 100%;
}
.owl-dots button,
.owl-dots button:focus{
	outline: none;
}
.searchInp input{
	background-color: #A1657C;
}
.searchInp input::placeholder{
	color: #E6E6E6;
}

.searchInp svg{
	fill: #E6E6E6;
}

/* utility icons bar */
.utility-icon{
	background-color: white;
}

.icon-text{
	color: #8E4560;
}

.delivery-icon-color,
.user-icon-color,
.carrito-icon-color{
	fill: #8E4560;
}

.utility-icon:hover,
.buyIcon:hover .utility-icon{
	background-color: #8E4560;
}

.utility-icon:hover .delivery-icon-color,
.utility-icon:hover .user-icon-color,
.buyIcon:hover .carrito-icon-color{
	fill: white;
}

.utility-icon:hover .icon-text{
	color: white;
}

/* utility icons bar */


/* especial styles */
.colorPrimarioUno{
	background-color: #8E4560;
}

.colorPrimarioDos{
	background-color: #9B90A3;
}

.txt-regular{
	font-size: 15px;
}